In [756]:
import pandas as pd

In [757]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [758]:
# Reading the files
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [759]:
# Determine if there are any missing values
school_data_df.count()
school_data_df.isnull().sum()
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [760]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [761]:
student_data_df.count()
student_data_df.isnull().sum()
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [762]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [763]:
# Determine the data type
school_data_df.dtypes
# Use on a specific column  df.column_name.dtype if there are no spaces 
# df['Column Name'].dtype if there are spaces in the column name
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [764]:
# Add a list with all identified prefixes and suffixes to be removed
# Making sure to add a white space after the prefix and before the suffix
prefixes_suffixes = ["Dr. ", "Miss ", "Mr. ", "Mrs. ", "Ms. ", " MD", " PhD", " DDS", " DVM"]

# Converting the student_name variable to a string
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

/Users/apple/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [765]:
student_data_df.to_csv(r'Resources/Clean_students_complete.csv')

In [766]:
# Before merging two dataframes on a common column "school_name", 
# we need to inspect the values for school_name in both DataFrames
# to make sure that the same schools are not spelled or named differently

# Inspecting unique "school_name" values in the student_data_df 
student_data_unique_schools = set(student_data_df["school_name"])

In [767]:
# Inspecting unique "school_name" values in the student_data_df
school_data_unique_schools = set(school_data_df["school_name"])

In [768]:
# Checking what are the school_name values in the school_data that are not present in the student_data
# Returns set(), an empty set, meaning that all values in the school data match values in the student_data
student_data_unique_schools - school_data_unique_schools

set()

In [769]:
# Checking what are the school_name values in the student_data that are not present in the school_data
# Returns set(), an empty set, meaning that all values in the student_ data match values in the school_data
school_data_unique_schools - student_data_unique_schools

set()

In [770]:
# there is another way to get unique values for a column from a dataframe
school_data_df["school_name"].unique() # as an array

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [771]:
# Merding two DataFrames on the shared column "school_name"
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [772]:
# Total number of students

# we know that each row in the data corresponds to an individual student,  
# so the number of rows is the number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [773]:
# Total number of schools
schools_count = len(school_data_complete_df["School ID"].unique()) # length of an array
schools_count

15

In [774]:
# Total budget of the district 
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [775]:
# Average reading score
avg_reading_score = school_data_complete_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [776]:
# Average math score
avg_math_score = school_data_complete_df['math_score'].mean()
avg_math_score

78.98537145774827

In [777]:
# The number of students who passed math
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
count_math_passing = passing_math['student_name'].count()
print(count_math_passing)

29370

In [778]:
# The number of students who passed reading
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
count_reading_passing = passing_reading['student_name'].count()
print(count_reading_passing)

33610

In [779]:
# The percentage of students who passed Math
percentage_passing_math = (float(count_math_passing) / float(student_count)) * 100
print(percentage_passing_math)

74.9808526933878

In [780]:
# The percentage of students who passed reading
percentage_passing_reading= (float(count_reading_passing) / float(student_count)) * 100
print(percentage_passing_reading)

85.80546336482001

In [781]:
# The overall passing percentage 
# The number 
overall_passing = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & 
                                          (school_data_complete_df['reading_score'] >= 70)]
count_overall_passing = overall_passing['student_name'].count()
# another way -> overall_passing.student_name.count() since the column name, "student_name", has no white spaces
print(count_overall_passing)

percentage_overall_passing = (float(count_overall_passing) / float(student_count)) * 100

print(percentage_overall_passing)

25528
65.17232575950983

In [782]:
# Adding all the metrics in a new DataFrame to create a table
district_summary_dict = [{"Total Schools": schools_count, 
                         "Total Students": student_count,
                         "Total Budget": total_budget, 
                         "Average Reading Score": avg_reading_score, 
                         "Average Math Score": avg_math_score,
                         "% Passing Reading": percentage_passing_reading, 
                         "% Passing Math": percentage_passing_math, 
                         "% Overall Passing": percentage_overall_passing}]
print(district_summary_dict)

[{'Total Schools': 15, 'Total Students': 39170, 'Total Budget': 24649428, 'Average Reading Score': 81.87784018381414, 'Average Math Score': 78.98537145774827, '% Passing Reading': 85.80546336482001, '% Passing Math': 74.9808526933878, '% Overall Passing': 65.17232575950983}]

In [783]:
district_summary_df = pd.DataFrame(district_summary_dict)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [784]:
# Define a function that calculates the percentage of students that passed both math and reading
# and returns the passing percentage when the function is called
def passing_math_percent(count_math_pass, students_count):
    return (float(count_math_pass) / float(students_count)) * 100
passing_math_percent

In [785]:
# input the values 
passing_math_count = 29370
total_student_count = 39170
# Call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [786]:
# At the same time, we can input the variables we defined earlier 
passing_math_percent(count_math_passing, student_count)

74.9808526933878

In [787]:
# Formatting the "Total Students" to have a thousands comma separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Formatting the "Total Budget" to have a dollar sign, thousands separator, and two decimals
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Formatting the "Average Math Score" and "Average Reading Score" to one decimal place

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# Formatting the "% Passing Math", "% Passing Reading", and "% Overall Passing" to the nearest whole number percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [788]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,79.0,86,75,65

In [789]:
# Reordering columns
new_column_order = ["Total Schools", "Total Students", "Total Budget", 
                    "Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign the new order to the district_summary_df
district_summary_df = district_summary_df[new_column_order]

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [790]:
# District Summary for Each School

# For that, we need "school_name" to be an index

# Determine the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [791]:
# Adding the per_school_types into a DataFrame for testing
df = pd.DataFrame(per_school_types)
df # since the school_name is now an index, we can start adding other columns in this DataFrame

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [792]:
# By looking at the school_data_df, 
# we can see that the "size" columns represents the total count of students for each school

school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [793]:
# Calculatibg the total student count
per_school_student_count = school_data_df["size"]
per_school_student_count

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [794]:
 # Setting the school_name as an index
per_school_student_count = school_data_df.set_index(["school_name"])["size"]
per_school_student_count

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [795]:
# Another method to get student counts per each school is to use the "school_data_complete_df" 
# and apply the value.counts() method on the "school_name" column
# since each row in this DataFrame corresponds to an individual student
# the below command will return the number of students per each school
per_school_student_count = school_data_complete_df["school_name"].value_counts()
per_school_student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [796]:
# Calculating the total school budget
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [797]:
# Calculating the budget per student
per_school_budget_per_student = per_school_budget / per_school_counts
per_school_budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [798]:
# Calculating the average math score per school using the groupby() method

per_school_avg_math_score = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [799]:
# Calculating the average reading score per school using the groupby() method
per_school_avg_reading_score = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [800]:
# Calculating the Passing Percentages Per School
# Earlier, we determined the students who passed math and reading 
# with variables "passing_math" and "passing_reading", respectively

# Calculating the number of students who passed math per school
per_school_count_passing_math = passing_math.groupby(["school_name"]).count()["student_name"]
per_school_count_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [801]:
# Calculating the percentage of passing math per school
per_school_percentage_passing_math = (per_school_count_passing_math / per_school_student_count) * 100
per_school_percentage_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [802]:
# Calculating the number of students who passed reading per school
per_school_count_passing_reading = passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_count_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [803]:
# Calculating the percentage of students who passed reading per school
per_school_percentage_passing_reading = (per_school_count_passing_reading / per_school_student_count) * 100
per_school_percentage_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [804]:
# Overall passing count per school
per_school_count_overall_passing = overall_passing.groupby(["school_name"]).count()["student_name"]
per_school_count_overall_passing

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [805]:
# Overall passing percentage per school
per_school_percentage_overall_passing = (per_school_count_overall_passing / per_school_student_count) * 100
per_school_percentage_overall_passing

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [806]:
# Adding all the metrics in a new DataFrame to create a table
per_school_summary_dict = ({"School Type": per_school_types, 
                         "Total Students": per_school_student_count,
                         "Total School Budget": per_school_budget, 
                         "Per Student Budget": per_school_budget_per_student,
                         "Average Reading Score": per_school_avg_reading_score, 
                         "Average Math Score": per_school_avg_math_score,
                         "% Passing Reading": per_school_percentage_passing_reading, 
                         "% Passing Math": per_school_percentage_passing_math, 
                         "% Overall Passing": per_school_percentage_overall_passing})
print(per_school_summary_dict)

{'School Type': school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object, 'Total Students': Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64, 'Total School Budget': school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64, 'Per Student Budget': Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64, 'Average Reading Score': school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64, 'Average Math Score': school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64, '% Passing Reading': Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64, '% Passing Math': Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64, '% Overall Passing': Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64}

In [807]:
# Putting the dictionary into a DataFrame
per_school_summary_df = pd.DataFrame(per_school_summary_dict)
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,90.333333

In [808]:
# Formatting the "Total Students" to have a thousands comma separator
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)

# Formatting the "Total Budget" to have a dollar sign, thousands separator, and two decimals
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

# Formatting the "Per Student Budget" to have a dollar sign, thousands separator, and two decimals
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Formatting the "Average Math Score" and "Average Reading Score" to one decimal place
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)

per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)

# Formatting the "% Passing Math", "% Passing Reading", and "% Overall Passing" to the nearest whole number percentage
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.0f}".format)

per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.0f}".format)

per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.0f}".format)

In [809]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,81.0,77.0,82,67,55
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,84.0,83.1,97,94,91
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,81.2,76.7,81,66,53
Ford High School,District,"2,739","$1,763,916.00",$644.00,80.7,77.1,79,68,54
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.8,83.4,97,93,91
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,80.9,77.3,81,67,54
Holden High School,Charter,427,"$248,087.00",$581.00,83.8,83.8,96,93,89
Huang High School,District,"2,917","$1,910,635.00",$655.00,81.2,76.6,81,66,54
Johnson High School,District,"4,761","$3,094,650.00",$650.00,81.0,77.1,81,66,54
Pena High School,Charter,962,"$585,858.00",$609.00,84.0,83.8,96,95,91
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,80.7,76.8,80,66,53
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.7,83.4,96,94,90
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.8,83.4,97,93,91
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,84.0,83.3,97,94,91
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,84.0,83.7,97,93,90

In [810]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0,81.0,67,82,55
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94,97,91
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66,81,53
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68,79,54
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93,97,91
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,67,81,54
Holden High School,Charter,427,"$248,087.00",$581.00,83.8,83.8,93,96,89
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,66,81,54
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1,81.0,66,81,54
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,95,96,91
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66,80,53
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.4,83.7,94,96,90
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93,97,91
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,94,97,91
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.7,84.0,93,97,90

In [811]:
# Finding the Highest Performing Schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94,97,91
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93,97,91
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,95,96,91
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93,97,91
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,94,97,91

In [812]:
# Findging the Lowest Performing Schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"])
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66,81,53
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66,80,53
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68,79,54
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,67,81,54
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,66,81,54

In [813]:
# Summary by Grades

# Get DataFrames for 9th, 10th, 11th, and 12th graders 
ninth_graders = school_data_complete_df[school_data_complete_df["grade"] == "9th"]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [814]:
# Average math scores by grades for each school
ninth_grade_avg_math_score_per_school = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_avg_math_score_per_school = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_avg_math_score_per_school = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_avg_math_score_per_school = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [815]:
# Average reading scores by grades for each school
ninth_grade_avg_reading_score_per_school = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_avg_reading_score_per_school = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_avg_reading_score_per_school = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_avg_reading_score_per_school = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [816]:
twelfth_grade_avg_reading_score_per_school

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [817]:
# Creating a DataFrame for average math scores by grades for each school
avg_math_score_by_grade_per_school_df = pd.DataFrame({
                                        "9th": ninth_grade_avg_math_score_per_school,
                                       "10th": tenth_grade_avg_math_score_per_school,
                                       "11th": eleventh_grade_avg_math_score_per_school, 
                                       "12th": twelfth_grade_avg_math_score_per_school})
avg_math_score_by_grade_per_school_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [818]:
# Creating a DataFrame for average reading scores by grades for each school
avg_reading_score_by_grade_per_school_df = pd.DataFrame({
                                        "9th": ninth_grade_avg_reading_score_per_school,
                                       "10th": tenth_grade_avg_reading_score_per_school,
                                       "11th": eleventh_grade_avg_reading_score_per_school, 
                                       "12th": twelfth_grade_avg_reading_score_per_school})
avg_reading_score_by_grade_per_school_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [819]:
# Format the columns for each DataFrame

# Math
avg_math_score_by_grade_per_school_df["9th"] = avg_math_score_by_grade_per_school_df["9th"].map("{:.1f}".format)

avg_math_score_by_grade_per_school_df["10th"] = avg_math_score_by_grade_per_school_df["10th"].map("{:.1f}".format)

avg_math_score_by_grade_per_school_df["11th"] = avg_math_score_by_grade_per_school_df["11th"].map("{:.1f}".format)

avg_math_score_by_grade_per_school_df["12th"] = avg_math_score_by_grade_per_school_df["12th"].map("{:.1f}".format)

In [820]:
# Reading
avg_reading_score_by_grade_per_school_df["9th"] = avg_reading_score_by_grade_per_school_df["9th"].map("{:.1f}".format)

avg_reading_score_by_grade_per_school_df["10th"] = avg_reading_score_by_grade_per_school_df["10th"].map("{:.1f}".format)

avg_reading_score_by_grade_per_school_df["11th"] = avg_reading_score_by_grade_per_school_df["11th"].map("{:.1f}".format)

avg_reading_score_by_grade_per_school_df["12th"] = avg_reading_score_by_grade_per_school_df["12th"].map("{:.1f}".format)

In [821]:
# Making sure that the columns are in the correct order
avg_math_score_by_grade_per_school_df = avg_math_score_by_grade_per_school_df[["9th", "10th", "11th", "12th"]]

avg_reading_score_by_grade_per_school_df = avg_reading_score_by_grade_per_school_df[["9th", "10th", "11th", "12th"]]

In [822]:
# Removing the index name 
avg_math_score_by_grade_per_school_df.index.name = None

avg_math_score_by_grade_per_school_df

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [823]:
# Removing the index name 
avg_reading_score_by_grade_per_school_df.index.name = None

avg_reading_score_by_grade_per_school_df

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1