In [374]:
import pandas as pd

In [375]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [376]:
# Reading the files
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [377]:
#school_data_df.head()
#student_data_df.head()

In [378]:
# Determine if there are any missing values
school_data_df.count()
school_data_df.isnull().sum()
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [379]:
student_data_df.count()
student_data_df.isnull().sum()
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [380]:
# Determine the data type
school_data_df.dtypes
# Use on a specific column  df.column_name.dtype if there are no spaces 
# df['Column Name'].dtype if there are spaces in the column name
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [381]:
# Add a list with all identified prefixes and suffixes to be removed
# Making sure to add a white space after the prefix and before the suffix
prefixes_suffixes = ["Dr. ", "Miss ", "Mr. ", "Mrs. ", "Ms. ", " MD", " PhD", " DDS", " DVM"]

# Converting the student_name variable to a string
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

/Users/apple/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [382]:
student_data_df.to_csv(r'Resources/Clean_students_complete.csv')

In [383]:
# Before merging two dataframes on a common column "school_name", 
# we need to inspect the values for school_name in both DataFrames
# to make sure that the same schools are not spelled or named differently

# Inspecting unique "school_name" values in the student_data_df 
set(student_data_df["school_name"])

{'Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School'}

In [384]:
# Inspecting unique "school_name" values in the student_data_df
set(school_data_df["school_name"])

{'Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School'}

In [385]:
# there is another way to get unique values for a column from a dataframe
school_data_df["school_name"].unique() # as an array

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [386]:
# Merding two DataFrames on the shared column "school_name"
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [387]:
# Total number of students

# we know that each row in the data corresponds to an individual student,  
# so the number of rows is the number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [388]:
# Total number of schools
schools_count = len(school_data_complete_df["School ID"].unique()) # length of an array
schools_count

15

In [389]:
# Total budget of the district 
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [390]:
# Average reading score
avg_reading_score = school_data_complete_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [391]:
# Average math score
avg_math_score = school_data_complete_df['math_score'].mean()
avg_math_score

78.98537145774827

In [392]:
# The number of students who passed math
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
count_math_passing = passing_math['student_name'].count()
print(count_math_passing)

29370

In [393]:
# The number of students who passed reading
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
count_reading_passing = passing_reading['student_name'].count()
print(count_reading_passing)

33610

In [394]:
# The percentage of students who passed Math
percentage_passing_math = (float(count_math_passing) / float(student_count)) * 100
print(percentage_passing_math)

74.9808526933878

In [395]:
# The percentage of students who passed reading
percentage_passing_reading= (float(count_reading_passing) / float(student_count)) * 100
print(percentage_passing_reading)

85.80546336482001

In [396]:
# The overall passing percentage 
# The number 
overall_passing = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & 
                                          (school_data_complete_df['reading_score'] >= 70)]
count_overall_passing = overall_passing['student_name'].count()
# another way -> overall_passing.student_name.count() since the column name, "student_name", has no white spaces
print(count_overall_passing)

percentage_overall_passing = (float(count_overall_passing) / float(student_count)) * 100

print(percentage_overall_passing)

25528
65.17232575950983

In [397]:
# Adding all the metrics in a new DataFrame to create a table
district_summary_dict = [{"Total Schools": schools_count, 
                         "Total Students": student_count,
                         "Total Budget": total_budget, 
                         "Average Reading Score": avg_reading_score, 
                         "Average Math Score": avg_math_score,
                         "% Passing Reading": percentage_passing_reading, 
                         "% Passing Math": percentage_passing_math, 
                         "% Overall Passing": percentage_overall_passing}]
print(district_summary_dict)

[{'Total Schools': 15, 'Total Students': 39170, 'Total Budget': 24649428, 'Average Reading Score': 81.87784018381414, 'Average Math Score': 78.98537145774827, '% Passing Reading': 85.80546336482001, '% Passing Math': 74.9808526933878, '% Overall Passing': 65.17232575950983}]

In [398]:
district_summary_df = pd.DataFrame(district_summary_dict)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [399]:
# Define a function that calculates the percentage of students that passed both math and reading
# and returns the passing percentage when the function is called
def passing_math_percent(count_math_pass, students_count):
    return (float(count_math_pass) / float(students_count)) * 100
passing_math_percent

In [400]:
# input the values 
passing_math_count = 29370
total_student_count = 39170
# Call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [401]:
# At the same time, we can input the variables we defined earlier 
passing_math_percent(count_math_passing, student_count)

74.9808526933878

In [402]:
# Formatting the "Total Students" to have a thousands comma separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Formatting the "Total Budget" to have a dollar sign, thousands separator, and two decimals
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Formatting the "Average Math Score" and "Average Reading Score" to one decimal place

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# Formatting the "% Passing Math", "% Passing Reading", and "% Overall Passing" to the nearest whole number percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [403]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,79.0,86,75,65

In [404]:
# Reordering columns
new_column_order = ["Total Schools", "Total Students", "Total Budget", 
                    "Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign the new order to the district_summary_df
district_summary_df = district_summary_df[new_column_order]

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65